<!-- <div id="home"> -->
    <app-social></app-social>
    <div class="container-flex">
        
        <div class="content">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="display-1">Welcome</h1>
                    <div class="about_me">
                        <p>
                            Hi! My name is <span class="emphasize">Ruth Wangui Mwangi</span>  I'm a Software and Data Engineer,  I specialize in developing robust Spring Boot applications, crafting dynamic Angular front ends, and seamlessly integrating them for a cohesive user experience. </p>
                            <p>My proficiency extends to Python scripting, where I leverage its power to unlock insights from data. Join me on a journey where innovation meets precision, transforming concepts into tangible, high-impact solutions.</p>
                    </div>
                    
    
                </div>
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-2">
                    <h1 class="display-1">Projects</h1>
                    <div class="project">
                        <ul>
                            <li>    <a href="https://github.com/Ruth-Mwangi/Covid-Classifier" target="_blank">Covid Classifier</a>
                            </li>
                            <hr>
                            <li>    <a href="https://github.com/Ruth-Mwangi/Credit-Card-Fraud-Detection-System" target="_blank">Credit Card Fraud Detection System</a>
                            </li>
                            <hr>
                            <li>    <a href="https://github.com/Ruth-Mwangi/springboot-mongodb-docker" target="_blank">Spring Boot,Mongo DB, Docker </a>
                            </li>
                            <hr>
                            <li>    <a href="https://github.com/Ruth-Mwangi/Ruth-Mwangi-CheckMeOut-Api" target="_blank">Check Me Out</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            
            
        </div>
    </div>
    

<!-- </div> -->